@import url(/blocks/header/__logo/header__logo.css);
@import url(/blocks/header/__logo/__lang-link/heder__logo__lang-link.css);

.header {
    max-height: 756px;
    background-color: #2A2C2F;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    margin-bottom: 56px;
  }


@media (max-width: 1024px) {
    .header {
        padding: 15px 30px;
    }

    .header__logo {
        width: 140px;
    }

    .header__logo__lang-link {
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 15px 20px;
        flex-direction: row;
    }

    .header__logo {
        width: 120px;
    }

    .header__logo__lang-link {
        font-size: 18px;
    }
}

@media (max-width: 320px) {
    .header {
        padding: 10px 15px;
        flex-direction: row;
    }

    .header__logo {
        width: 100px;
    }

    .header__logo__lang-link {
        font-size: 16px;
    }
}